@media (min-width: 1281px) {



  ul.sLink li {
      line-height: 65px;
      display: block;

  }


  ul.sLink li:hover {
    display: block;
  background-color:darkgrey;

  }


  .sLink span {
  font-size:30px;
  color:white;

  }
  .container_overlay i {
    font-size:64px;
    color: white;
    border-radius: 50%;
    border: none;
    padding: 10px;
  background:none !important;

  }

  .sLink a{
  text-decoration: none;



  }


  .container_overlay {

  visibility: hidden;
  position: absolute;
  margin:0;
  padding:0;
  background-color:#000000b0;
  width:100%;
  height:100%;
  z-index: 9999;

  }


  .container_overlay .sociallinks {
    text-align: center;
  display: block;
  float:right;
  width:250px;
  height:100%;

  }

  .closeWindow {

  float:left;

  }







body {
margin:0;
padding:0;
background-color:black;

}

.container {
background-color:white;
border:1px solid white;
width:400px;
height:800px;
grid-template-columns: 100%;
grid-template-rows: 10% 25% 60% 5%;
display:grid;
grid-template-areas:
"row1"
"row2"
"row3"
"row4";


margin: 0;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;



}


.top_logo {

grid-area: row1;
display: grid;
grid-template-rows: 100%;
grid-template-columns: 75% 25%;
grid-template-areas:
"logoname info";



}


.logo {
float:left;
grid-area: logoname;

}

.logo img {

  margin: 0;
  height: 200px;
  position: absolute;
  top: -58px;
  padding: 0;

}

.lang_selection {
float:right;
grid-area: info;

}


.lang_selection a {


text-decoration: none;

}

.lang_selection span {


  display: flex;
align-items: center;
justify-content: center;
height: 85px;

}


/* .lang_selection img {

  height: 45px;
  position: relative;
  width: 35px;
  margin-right: 113px;
  right: -40px;
  top: 16px;


} */



.background {
background-image: url('https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
background-repeat: no-repeat;
background-size: cover;
grid-area:row2;
opacity: 0.6;

}

.profile_content {

grid-area:row3;

}

.navigation {
background-color:#A0C900;
grid-area:row4;

}


.profile {

  position: absolute;
  top: 206px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  left: 145px;

}

.profile_face {
width:125px;
border-radius: 50%;


}



.profile_content {

grid-area:row3;
display: grid;
grid-template-columns: 100%;
grid-template-rows: 20% 5% 5% 20% 20%;
grid-template-areas:
"proRow1"
"proRow2"
"proRow3"
"proRow4"
"proRow5";
}



.name {

  margin-left: auto;
  text-align: center;
  grid-area: proRow1;
  margin-top: 25px;
  display: block;
  margin-right: auto;

}



.name h6:nth-child(1) {
color:black;
font-size:20px;
margin-right:5px;
float:left;
}

.name h6:nth-child(2) {
  text-transform: uppercase;
  float:left;
color:#A0C900;
font-size:20px;

}


.title {

  text-align: center;
grid-area: proRow2;

}

.title h6{
  font-family: monospace;
  font-size:15px;
    display: inline;
}

.area {
    display: inline;
  text-align: center;
grid-area: proRow3;

}

.area h6 {
  font-weight: 200px;
  font-family: monospace;
  font-size:15px;
  display: inline;

}

.quicklinks {
  display: flex;
     justify-content: center; /* center ul horizontally */
     align-items: center; /* center ul vertically (if necessary) */ ;
grid-area: proRow4;

}


.quicklinks ul {

margin:0;
padding:0;

display: block;
}

.quicklinks ul li {

  display: inline;

}

.quicklinks i {

  background-color: #A0C900;
  color: white;
  border-radius: 50%;
  font-size: 40px;
  padding: 8px;


}

.profile_content .sociallinks {
  display: flex;
     justify-content: center; /* center ul horizontally */
     align-items: center; /* center ul vertically (if necessary) */
grid-area: proRow5;

}

.profile_content .sociallinks ul {

  margin:0;
  padding:0;
}

.profile_content .sociallinks ul li {

display: inline;

}

.profile_content .sociallinks i {
letter-spacing: 1em;
color:#5a5050;

}


.navigation {

  display: flex;
     justify-content: center; /* center ul horizontally */
     align-items: center; /* center ul vertically (if necessary) */

}

.navigation ul li {

display: inline;

}

.navigation ul {

  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 202px;

}

.navigation i {

  color: white;

  padding: 8px;
  font-size: 20px;


}



}

@media (min-width: 360px) and (max-width: 480px)

 {

  body {
  margin:0;
  padding:0;


  }

  .container {
  background-color:white;
  border:1px solid white;
  width:400px;
  height:712px;
  grid-template-columns: 100%;
  grid-template-rows: 10% 25% 60% 5%;
  display:grid;
  grid-template-areas:
  "row1"
  "row2"
  "row3"
  "row4";


  }


  .top_logo {
    grid-area: row1;
    display: grid;
    grid-template-columns: 65% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "logoname info";
}








  .logo {
  float:left;
  grid-area: logoname;

  }



  .logo img {

    margin: 0;
    height: 200px;
    position: absolute;
    top: -58px;
    padding: 0;

  }


  .lang_selection {
  float:right;
  grid-area: info;

  }


  .lang_selection a {


  text-decoration: none;

  }

  .lang_selection span {


    display: flex;
  align-items: center;
  justify-content: center;
  height: 71px;
  margin: 0;
  padding: 0;
}




  /* .lang_selection img {

    height: 45px;
    position: relative;
    width: 35px;
    margin-right: 113px;
    right: -40px;
    top: 16px;


  } */










  .background {
  background-image: url('https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  grid-area:row2;
  opacity: 0.6;

  }

  .profile_content {

  grid-area:row3;

  }

  .navigation {
  background-color:#A0C900;
  grid-area:row4;

  }


  .profile {

    position: absolute;
    top: 175px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    left: 145px;
  }

  .profile_face {
  width:125px;
  border-radius: 50%;


  }



  .profile_content {

    grid-area: row3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 5% 5% 35% 30%;
        grid-template-areas: "proRow1"
 "proRow2"
 "proRow3"
 "proRow4"
 "proRow5";
  }



  .name {

    margin-left: auto;
    text-align: center;
    grid-area: proRow1;
    margin-top: 25px;
    display: block;
    margin-right: auto;

  }



  .name h6:nth-child(1) {
  color:black;
  font-size:20px;
  margin-right:5px;
  float:left;
  }

  .name h6:nth-child(2) {
    text-transform: uppercase;
    float:left;
  color:#A0C900;
  font-size:20px;

  }


  .title {

    text-align: center;
  grid-area: proRow2;

  }

  .title h6{
    font-family: monospace;
    font-size:15px;
      display: inline;
  }

  .area {
      display: inline;
    text-align: center;
  grid-area: proRow3;

  }

  .area h6 {
    font-weight: 200px;
    font-family: monospace;
    font-size:15px;
    display: inline;

  }

  .quicklinks {
    display: flex;
       justify-content: center; /* center ul horizontally */
       align-items: center; /* center ul vertically (if necessary) */ ;
  grid-area: proRow4;

  }


  .quicklinks ul {

  margin:0;
  padding:0;

  display: block;
  }

  .quicklinks ul li {

    display: inline;

  }

  .quicklinks i {

    background-color: #A0C900;
    color: white;
    border-radius: 50%;
    font-size: 40px;
    padding: 8px;


  }


  .sociallinks {
    display: flex;
       justify-content: center; /* center ul horizontally */
       align-items: center; /* center ul vertically (if necessary) */
  grid-area: proRow5;

  }

  .sociallinks ul {

    margin:0;
    padding:0;
  }

  .sociallinks ul li {

  display: inline;

  }

  .sociallinks i {
  letter-spacing: 1em;
  color:#5a5050;

  }



  ul.sLink li {
      line-height: 65px;
      display: block;

  }


  ul.sLink li:hover {
  background-color:darkgrey;

  }








  .sLink span {
  font-size:30px;
  color:white;

  }
  .container_overlay i {
    font-size:64px;
    color: white;
    border-radius: 50%;
    border: none;
    padding: 10px;
  background:none !important;

  }


  .container_overlay {

  visibility: hidden;
  position: absolute;
  margin:0;
  padding:0;
  background-color:#000000b0;
  width:100%;
  height:100%;
  z-index: 9999;

  }


.container_overlay .sociallinks {
  display: block;
  float:right;
  width:250px;
  height:100%;

  }

  .closeWindow {

  float:left;

  }



  .navigation {

    display: flex;
       justify-content: center; /* center ul horizontally */
       align-items: center; /* center ul vertically (if necessary) */

  }

  .navigation ul li {

  display: inline;

  }

  .navigation ul {

    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 158px;

  }

  .navigation i {

    color: white;

    padding: 8px;
    font-size: 20px;


  }



}
